body {
  height: 100vh !important;
  margin: 0px !important;

}
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  width: 100%; /* Full width */
  position: absolute; /* Optional: keeps the spinner centered even if scrolling */
  top: 0;
  left: 0;

}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 4px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #FFA11F !important;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

.custom-Grid-table{
  background-color: #fff !important;
  border-radius: 8px !important;
  padding: 16px !important;
}